<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.licktrip.beastvisor">

    <application
            android:allowBackup="true"
            android:icon="@drawable/eye_beast"
            android:label="@string/app_name"
            android:roundIcon="@drawable/eye_beast"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".TrainingDetailsActivity">
        </activity>
        <activity
                android:name=".TrainingsActivity"
                android:label="@string/title_activity_trainings"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".CpgAddActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CpgDetailsActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".CpgActivity"
                android:label="@string/title_activity_cpg"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".NewOneActivity"
                android:label="@string/title_activity_new_one"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".LoginActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>